GEEKFLEX_DB_ROOT_PASSWORD=change-me
GEEKFLEX_DB_NAME=geekflex_db
GEEKFLEX_DB_USER=geekflex_user
GEEKFLEX_DB_PASSWORD=change-me
GEEKFLEX_DB_PORT=3306

GEEKFLEX_REDIS_PASSWORD=change-me
GEEKFLEX_REDIS_PORT=6379

GEEKFLEX_BACKEND_PORT=8080

GeekFlex_RESEND_API_KEY=change-me
GeekFlex_TMDB_API_KEY=change-me
GeekFlex_TMDB_ACCESS_TOKEN=change-me
GeekFlex_JWT_SECRET_KEY=change-me
GeekFlex_FILE_UPLOAD_DIR=/app/uploads/users
